@model MyScimApp.Models.LoginWithMfaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LoginWithMfa</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-social.css" />
    <link rel="stylesheet" href="~/css/customlayout.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>

    <!-- Modal HTML -->
    <div id="myModal">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login with your multi factor authenticaion.</h4>
                </div>

                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="text-info infomassage">Your login is protected with an authenticator app. Enter your authenticator code below.</p>

                    <form action="/Account/LoginWithMfa" method="post">
                        <div class="form-group">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" placeholder="Verify Code" name="AuthenticationCode" autocomplete="off">
                        </div>

                        <div class="form-group small clearfix">
                            <label class="checkbox-inline"><input name="RememberComputer" type="checkbox" value="true"> Remember this computer</label>
                            <input name="RememberComputer" type="hidden" value="false" />
                        </div>
                        <input name="RememberMe" type="hidden" value=@Model.RememberMe.ToString().ToLower() />
                        <input name="ReturnUrl" type="hidden" value=@Model.ReturnUrl />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                        </div>
                    </form>
                    <a href="/Account/Login" class="back-link">← Back to login.</a>

                </div>

            </div>
        </div>
    </div>
</body>
</html>
