
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="myprofilelink" asp-controller="AccountManage" asp-action="MyProfile">My Profile</a></li>
    <li class="nav-item"><a class="nav-link" id="myrelyingpartieslink" asp-controller="AccountManage" asp-action="MyRelyingParties">My OIDC/OAuth RelyingParties</a></li>
    <li class="nav-item"><a class="nav-link" id="mysaml2partnerslink" asp-controller="AccountManage" asp-action="MySaml2Partners">My Saml2 Partners</a></li>
    <li class="nav-item"><a class="nav-link" id="fido2link" asp-controller="AccountManage" asp-action="Fido2">My Fido2 Settings</a></li>
    <li class="nav-item"><a class="nav-link" id="mfalink" asp-controller="AccountManage" asp-action="MultiFactorAuth">My MFA Settings</a></li>

</ul>

