@model MyScimApp.Models.DisableFido2ViewModel
@{
    Layout = "/Views/AccountManage/_Layout.cshtml";
}


<h4>Disable Fido2 security Key</h4>
<div>
    <form action="/AccountManage/DisableFido2" method="post">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()


        <label>Do you want to remove FIDO2 credential?</label>
        <input type="hidden" value="true" name="Confirmation" />

        <div class="form-group">
            <input type="submit" class="btn btn-warning btn-lg" value="Remove FIDO2 credential">
        </div>

    </form>
    <a href="/AccountManage/MyProfile" class="back-link">← Back to menu.</a>

</div>
