@model MyScimApp.Models.DisableMfaViewModel 
@{
    Layout = "/Views/AccountManage/_Layout.cshtml";
}

<h4>Disable Multi-Factor Authentication</h4>
<form action="/AccountManage/DisableMfa" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()


    <label>Do you want to disable to MFA?</label>
    <input type="hidden" value="true" name="Confirmation" />

    <div class="form-group">
        <input type="submit" class="btn btn-warning btn-lg" value="DisableMfa">
    </div>

</form>
<a href="/AccountManage/MyProfile" class="back-link">← Back to menu.</a>

