@{
    Layout = "/Views/AccountManage/_Layout.cshtml";
}

<h4>Enable Fido2 security Key</h4>
<div>
    <form action="/AccountManage/EnableMfa" id="register">
        <button type="submit" class="btn btn-info">Register FIDO2 authenticator</button>
    </form>
    <br />
    <a href="/AccountManage/MyProfile" class="back-link">← Back to menu.</a>

</div>
@section Scripts{
    <script src="~/js/helpers.js"></script>
    <script src="~/js/instant.js"></script>
    <script src="~/js/fido2.register.js"></script>

}