@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application is just used for testing. Once you have agreed the term of usage for this application or  have created either the application accounts on this site or the acccount provisioned via OIDC federated site like Facebook, Twitter, Google and Azure AD, then we never take the responsibility for your account infromation that you provisioned.</p>
